@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
}

hr {
    margin: 2rem 0rem;
}

:root {
    --primary-color: #171717;
    --off-white: #f3f4f6;
    --dark-gray: #A0937D;
}

/* container */
.container {
    padding: 0rem 1rem;
    margin-bottom: 2rem ;
}

.container-center {
    max-width: 40rem;
    margin: auto;
    /* text-align: center; */
}

/* links */

.link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin:0.5rem 0.5rem ;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: var(--primary-color) solid 1px;
}
.project-link{
    margin: 2rem 2rem;
}

/* lists */
.list-nobullet {
    list-style: none;
}

.list-item-inline {
    list-style: none;
    display: inline;
    margin: 0rem 1rem;
}

/* nav-bar */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
}


.navigation .link{
    color: white;
}

.nav-pills {
    text-align: right;
}

.nav-brand {
   color: white;
}

.link-active {
    font-weight: bold;
}

/* header */
.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 21.875rem;
    max-height: 21.875rem;
    display: block;
    margin: auto;
    border-radius:50%;
}

.hero-heading {
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 0rem;
    color: var(--dark-gray);
    text-align: center;
}

.hero-heading-inverted {
    color: var(--primary-color);
}

/* sections  */
.section {
    margin: 0.5rem 0rem;
    padding: 1rem;
    
}
.section-offwhite {
    background-color: var(--off-white);
    
}
.section-h1{
    text-align: center;
}

/* footer */
.footer {
    padding: 2rem;
    background-color: var(--primary-color);
    border: top right radius 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

.footer-heading {
    color: white;
    font-weight: bold;
}

.footer-link {
    color: white;
}

/* blog */
.blog-heading{
    margin-bottom: 0.4375rem;
    margin-left: 0rem;
    padding-left: 0rem;
    color: var(--primary-color);
}