@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
}

hr {
    margin: 2rem 0rem;
}

:root {
    --primary-color: #171717;
    --off-white: #f3f4f6;
    --dark-gray: #A0937D;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 40rem;
    margin: auto;
}

/* links */

.link {
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-primary {
    display: block;
    max-width: 140px;
    
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: var(--primary-color) solid 1px;
}
.project-link{
    margin: 2rem 2rem;
}

/* lists */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    margin: 0rem 0.5rem;
}
.showcase-list {
    padding: 2rem;
}


/* nav-bar */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
}


.navigation .link{
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.nav-brand a {
   text-decoration: none;
   color: inherit;
}

.navigation .link-active {
    font-weight: bold;
    padding-top: 5rem;
}

/* header */
.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}
.hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

.hero-heading-inverted {
    color: var(--primary-color);
}

/* sections  */
.section {
    margin: 0.5rem 0rem;
    padding: 1rem;
    
}
.section-offwhite {
    background-color: var(--off-white);
    
}
.section-h1{
    text-align: center;
}

/* footer */
.footer {
    padding: 4rem 1rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    color: white;
    text-align: center;
}

.footer-heading {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: 0px;
}
.footer-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin:0.5rem 1rem ;
}

/* blog */
.blog-heading{
    margin-bottom: 0.4375rem;
    margin-left: 0rem;
    padding-left: 0rem;
    color: var(--primary-color);
}