@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0rem;
}

hr {
    margin: 2rem 0rem;
}

:root {
    /* --primary-color: #00bcf0; */
    /* --off-white: #f3f4f6;
    --dark-gray: #303539; */
    /* --secondary-color:#ffe556; */
    --code-bg:#f5f2f0;
    --code:#3a3a3a;

    --primary-color: #171717;
    --secondary-color:white;
    --off-white: #f3f4f6;
    --dark-gray: #A0937D;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 40rem;
    margin: auto;
}
.project-h1{
    font-size: 1.8rem;
}
/* links */

.link {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-primary {
    display: block;
    max-width: 140px;
    font-weight: bold;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: var(--primary-color) solid 1px;
}
.project-link{
    margin: 2rem 2rem;
}
.inline-link{
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.inline-link-primary{
    width: 116.14px;
   max-width: 140px;
    font-weight: bold;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
    display:inline-block ;
     font-size:65%;
     margin-right: 00.5rem; 
}
.inline-link-secondary{
    box-sizing: border-box;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: var(--primary-color) solid 1px;
    font-size: 65%;
}
.inline-link-div{
    margin-bottom: 1rem;
    box-sizing: border-box;
     width: 100%;
}

/* lists */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    margin: 0rem 0.5rem;
}
.showcase-list {
    padding: 2rem;
}
.ul-list{
    width: 80%;
    margin: auto;
}
.card{
    border: solid #3a3a3a 1px; 
    padding: 1rem; 
    border-radius: 0.5rem; 
   
    /* box-shadow:  20px 20px 20px #bebebe, 20px 20px 20px #ffffff; */
    margin: 1.5rem auto 1rem;
}
.card:hover{
    box-shadow: 20px 20px 20px #bebebe, 22px 22px 22px #ffffff;
}
.card:hover +.icons{
    display: block;
}

/* nav-bar */
.navigation {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    padding: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
}


.navigation .link{
    color: var(--secondary-color);
}

.navigation .nav-pills {
    text-align: right;
}

.nav-brand a {
   text-decoration: none;
   color: inherit;
}

.navigation .link-active {
    font-weight: bold;
    padding-top: 5rem;
}

/* header */
.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}
.hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

.hero-heading-inverted {
    color: var(--primary-color);
}
.hero .date{
    text-align: center;

}

/* sections  */
.section {
    margin: 0.5rem 0rem;
    padding: 1rem;
    
}
.section-offwhite {
    background-color: var(--off-white);
    
}
.section-h1{
    text-align: center;
}

/* icons */
.tech-icon{
    padding: 1rem;
    width: 2rem;
    height: 2rem;
}
.stack-img{
    padding: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}
.explanation-para{
    margin-top: 0.2rem;
}

/* footer */
.footer {
    padding: 3rem 1rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    color: var(--secondary-color);
    text-align: center;
}

.footer-heading {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: 0px;
}
.footer-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin:0.5rem 1rem ;
}

/* blog */
.blog-heading{
    margin-bottom: 0.4375rem;
    margin-left: 0rem;
    padding-left: 0rem;
    color: #000000;
}
.html-tag{
    background-color: var(--code-bg);
    color: var(--code);
    border: 1px solid rgba(51,51,51,.1);
}